* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.page {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header {
  text-align: center;
  border-bottom: solid 2px black;
  margin: 0 auto;
  width: 300px;
  padding: 35px;
  font-size: 14px;
}

.squares {
  display: flex;
  flex-direction: column;
  align-self: center;
  row-gap: 10px;
  width: 300px;
  height: 500px;
}

.row:first-child {
  margin-top: 60px;
}

.row:last-child {
  margin-bottom: 60px;
}

.row {
  display: flex;
  justify-content: space-evenly;
  column-gap: 10px;
}

.square {
  border: solid 3px #ccc;
  width: 45px;
  height: 45px;
  text-align: center;
  padding: 2px 0;
  font-size: xx-large;
  font-weight: 600;
  text-transform: uppercase;
}

.correct-guess {
  background-color: green;
}

.wrong-guess {
  background-color: gray;
}

.wrong-placement-guess {
  background-color: rgba(255, 208, 0, 0.834);
}

.won {
  animation: rainbow-celebration 2s linear infinite;
  font-size: 50px;
}

@keyframes rainbow-celebration {
  100%,
  0% {
    color: rgb(255, 0, 0);
  }
  8% {
    color: rgb(255, 127, 0);
  }
  16% {
    color: rgb(255, 255, 0);
  }
  25% {
    color: rgb(127, 255, 0);
  }
  33% {
    color: rgb(0, 255, 0);
  }
  41% {
    color: rgb(0, 255, 127);
  }
  50% {
    color: rgb(0, 255, 255);
  }
  58% {
    color: rgb(0, 127, 255);
  }
  66% {
    color: rgb(0, 0, 255);
  }
  75% {
    color: rgb(127, 0, 255);
  }
  83% {
    color: rgb(255, 0, 255);
  }
  91% {
    color: rgb(255, 0, 127);
  }
}

.invalid-word {
  animation: invalid-word 1s 1;
}

@keyframes invalid-word {
  50% {
    border-color: rgb(255, 0, 0);
  }
}
